.NewTodoForm-Label {
  font-size: 1.5em;
  margin: 0 1em;
}

.NewTodoForm-Input {
  transform: scale(1.5);
  margin: 0 2em;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

button {
  transform: scale(1.5);
  margin: 0 2em;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}
